<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>approval write</title>

    <!-- fonts -->
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
    <link rel="stylesheet" as="style" crossorigin
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet"> -->
	
    <link rel="stylesheet" href="/assets/vendors/summernote/summernote-lite.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/assets/vendors/iconly/bold.css}">
    <link rel="stylesheet" th:href="@{/assets/vendors/perfect-scrollbar/perfect-scrollbar.css}">
    <link rel="stylesheet" th:href="@{/assets/vendors/bootstrap-icons/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/assets/css/app copy.css}">
    <link rel="shortcut icon" th:href="@{/assets/images/images/favicon-workHub.ico}" type="image/x-icon">
</head>

<body>
		<div th:include="sidebar/sidebar-approval" th:remove="tag"></div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <section>
                <div class="mx-auto writeform">
                    <h2 class="mb-3 border-bottom">결재 문서 <br><br></h2>
                    <br><br>
                    <form class="needs-validation" action="/approval/regist" method="post" onsubmit="valUpdate();" validate>
                        <div class="writesubmit row g-3">
                            <div class="titletextbox col-sm-6">
                                <label for="firstName" class="form-label"><strong>제목</strong></label>
                                <input type="text" class="form-control" id="firstName" placeholder="제목 입력" name="title">
                                <div class="invalid-feedback">
                                    제목을 입력하세요
                                </div>
                                <br><br>
                            </div>
                            <div class="page-heading">
                                <div class="page-title">
                                    <div class="row">
                                        <div class="col-12 col-md-6 order-md-2 order-first">
                                            <nav aria-label="breadcrumb"
                                                class="breadcrumb-header float-start float-lg-end">
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                                <section class="section">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-body">
                                                     <div class="contentwritebox">
                                                        <label for="firstName" class="form-label"><strong>내용</strong></label>
                                                        <div class="contentcontainer mx-auto">
                                                        	<textarea id="summernote" name="content"></textarea>
                                                    	</div>
                                                	</div>
                                           	 	</div>
                                        	</div>
                                    	</div>
                                </section>
                            </div>

                            <!-- 날짜 설정 -->
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <label for="exampleFormControlInput1" class="form-label">상신일</label><br>
                                        <input type="date" class="form-control" name="createdDate">
                                    </div>
                                    <div class="col">
                                        <label for="exampleFormControlInput1" class="form-label">마감일</label><br>
                                        <input type="date" class="form-control" name="dueDate">
                                    </div>
                                </div>
                            </div>
                            <br><br><br><br><br><br>

                            <!-- 결재자 설정 -->
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <label for="exampleFormControlInput1" class="form-label">결재자</label>&nbsp;&nbsp;
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#appsetting" onclick="uncheckAll()">
                                            설정
                                        </button>&nbsp;&nbsp;
                                        <button type="button" onclick="up();">
                                            <svg class="bi" width="1em" height="1em" fill="currentColor">
                                                <use xlink:href="/assets/vendors/bootstrap-icons/bootstrap-icons.svg#chevron-up" />
                                            </svg>
                                        </button>
                                        <button type="button" onclick="down();">
                                            <svg class="bi" width="1em" height="1em" fill="currentColor">
                                                <use xlink:href="/assets/vendors/bootstrap-icons/bootstrap-icons.svg#chevron-down" />
                                            </svg>
                                        </button><br><br>
                                        
                                        <!-- Modal -->
                                        <div class="modal fade" id="appsetting" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">결재자 설정</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="container">
                                                            <div class="row">
                                                            
                                                            	<!-- 부서 목록 -->
                                                                <div class="col-5">
                                                                	<th:block th:if="${ departmentList != null }">
                                                                    <div class="list-group" th:each="department : ${ departmentList }">
                                                                        <a
                                                                            class="list-group-item list-group-item-action" th:text="${ department.depName }" th:id="${ departmentStat.count }" href="javascript:void(0)" th:onclick="|javascript:showDeptMember(this)|"></a>
                                                                    </div>
                                                                    </th:block>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="table-responsive">
                                                                    
                                                                        <!-- 사원 목록 -->
                                                                        <table class="table table-lg">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>선택</th>
                                                                                    <th>부서</th>
                                                                                    <th>직급</th>
                                                                                    <th>이름</th>
                                                                                </tr>
                                                                            </thead>
																				<!-- 인사팀 -->
                                                                            	<tbody id="appteam1" style="display:none;">
                                                                                <tr th:each="member : ${ memberList } " th:if="${ member.dept.depName == '인사팀' }">
                                                                                    <td>
                                                                                        <input type="checkbox" name="user_CheckBox" th:value="${ member.no }">
                                                                                    </td>
                                                                                    <td th:text="${ member.dept.depName }" name="depName"></td>
                                                                                    <td th:text="${ member.position.positionName }" name="positionName"></td>
                                                                                    <td th:text="${ member.name }" name="memberName"></td>
                                                                                </tr>
                                                                                
                                                                                <!-- 총무팀 -->
                                                                                <tbody id="appteam2" style="display:none;">
                                                                                <tr th:each="member : ${ memberList } " th:if="${ member.dept.depName == '총무팀' }">
                                                                                    <td>
                                                                                        <input type="checkbox" name="user_CheckBox" th:value="${ member.no }">
                                                                                    </td>
                                                                                    <td th:text="${ member.dept.depName }" name="depName"></td>
                                                                                    <td th:text="${ member.position.positionName }" name="positionName"></td>
                                                                                    <td th:text="${ member.name }" name="memberName"></td>
                                                                                </tr>
                                                                                </tbody>

                                                                                <!-- 영업팀 -->
                                                                                <tbody id="appteam3" style="display:none;">
                                                                                <tr th:each="member : ${ memberList } " th:if="${ member.dept.depName == '영업팀' }">
                                                                                    <td>
                                                                                        <input type="checkbox" name="user_CheckBox" th:value="${ member.no }">
                                                                                    </td>
                                                                                    <td th:text="${ member.dept.depName }" name="depName"></td>
                                                                                    <td th:text="${ member.position.positionName }" name="positionName"></td>
                                                                                    <td th:text="${ member.name }" name="memberName"></td>
                                                                                </tr>
                                                                                </tbody>
                                                                                
                                                                                <!-- 마케팅팀 -->
                                                                                <tbody id="appteam4" style="display:none;">
                                                                                <tr th:each="member : ${ memberList } " th:if="${ member.dept.depName == '마케팅팀' }">
                                                                                    <td>
                                                                                        <input type="checkbox" name="user_CheckBox" th:value="${ member.no }">
                                                                                    </td>
                                                                                    <td th:text="${ member.dept.depName }" name="depName"></td>
                                                                                    <td th:text="${ member.position.positionName }" name="positionName"></td>
                                                                                    <td th:text="${ member.name }" name="memberName"></td>
                                                                                </tr>
                                                                                </tbody>
                                                                                
                                                                                <!-- 개발팀 -->
                                                                                <tbody id="appteam5" style="display:none;">
                                                                                <tr th:each="member : ${ memberList } " th:if="${ member.dept.depName == '개발팀' }">
                                                                                    <td>
                                                                                        <input type="checkbox" name="user_CheckBox" th:value="${ member.no }">
                                                                                    </td>
                                                                                    <td th:text="${ member.dept.depName }" name="depName"></td>
                                                                                    <td th:text="${ member.position.positionName }" name="positionName"></td>
                                                                                    <td th:text="${ member.name }" name="memberName"></td>
                                                                                </tr>
                                                                            	</tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
	                                                           <button type="button" id="selectBtn" class="btn btn-primary">선택</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Modal end -->
                                        <div class="list-group container" id="result">
                                        </div>
                                    </div>

                                    <!-- 참조자 설정 -->
                                    <div class="col">
                                        <label for="exampleFormControlInput1" class="form-label">참조자</label>&nbsp;&nbsp;
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#refsetting" onclick="uncheckAll()">
                                            설정
                                        </button><br><br>
                                        <!-- Modal -->
                                        <div class="modal fade" id="refsetting" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">참조자 설정</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-5">
                                                                
                                                                	<!-- 부서 목록 -->
                                                                	<th:block th:if="${ departmentList != null }">
                                                                    <div class="list-group" th:each="department : ${ departmentList }">
                                                                        <a
                                                                            class="list-group-item list-group-item-action items" th:text="${ department.depName }" th:id="${ departmentStat.count }" href="javascript:void(0)" th:onclick="|javascript:showDeptMember2(this)|"></a>
                                                                    </div>
                                                                    </th:block>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="table-responsive">
                                                                        <!-- 사원 목록 -->
                                                                        <table class="table table-lg">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>선택</th>
                                                                                    <th>부서</th>
                                                                                    <th>직급</th>
                                                                                    <th>이름</th>
                                                                                </tr>
                                                                            </thead>
																				<!-- 인사팀 -->
                                                                            	<tbody id="refteam1" style="display:none;">
                                                                                <tr th:each="member : ${ memberList } " th:if="${ member.dept.depName == '인사팀' }">
                                                                                    <td>
                                                                                        <input type="checkbox" name="user_CheckBox2" th:value="${ member.no }">
                                                                                    </td>
                                                                                    <td th:text="${ member.dept.depName }" name="depName"></td>
                                                                                    <td th:text="${ member.position.positionName }" name="positionName"></td>
                                                                                    <td th:text="${ member.name }" name="memberName"></td>
                                                                                </tr>
                                                                                
                                                                                <!-- 총무팀 -->
                                                                                <tbody id="refteam2" style="display:none;">
                                                                                <tr th:each="member : ${ memberList } " th:if="${ member.dept.depName == '총무팀' }">
                                                                                    <td>
                                                                                        <input type="checkbox" name="user_CheckBox2" th:value="${ member.no }">
                                                                                    </td>
                                                                                    <td th:text="${ member.dept.depName }" name="depName"></td>
                                                                                    <td th:text="${ member.position.positionName }" name="positionName"></td>
                                                                                    <td th:text="${ member.name }" name="memberName"></td>
                                                                                </tr>
                                                                                </tbody>

                                                                                <!-- 영업팀 -->
                                                                                <tbody id="refteam3" style="display:none;">
                                                                                <tr th:each="member : ${ memberList } " th:if="${ member.dept.depName == '영업팀' }">
                                                                                    <td>
                                                                                        <input type="checkbox" name="user_CheckBox2" th:value="${ member.no }">
                                                                                    </td>
                                                                                    <td th:text="${ member.dept.depName }" name="depName"></td>
                                                                                    <td th:text="${ member.position.positionName }" name="positionName"></td>
                                                                                    <td th:text="${ member.name }" name="memberName"></td>
                                                                                </tr>
                                                                                </tbody>
                                                                                
                                                                                <!-- 마케팅팀 -->
                                                                                <tbody id="refteam4" style="display:none;">
                                                                                <tr th:each="member : ${ memberList } " th:if="${ member.dept.depName == '마케팅팀' }">
                                                                                    <td>
                                                                                        <input type="checkbox" name="user_CheckBox2" th:value="${ member.no }">
                                                                                    </td>
                                                                                    <td th:text="${ member.dept.depName }" name="depName"></td>
                                                                                    <td th:text="${ member.position.positionName }" name="positionName"></td>
                                                                                    <td th:text="${ member.name }" name="memberName"></td>
                                                                                </tr>
                                                                                </tbody>
                                                                                
                                                                                <!-- 개발팀 -->
                                                                                <tbody id="refteam5" style="display:none;">
                                                                                <tr th:each="member : ${ memberList } " th:if="${ member.dept.depName == '개발팀' }">
                                                                                    <td>
                                                                                        <input type="checkbox" name="user_CheckBox2" th:value="${ member.no }">
                                                                                    </td>
                                                                                    <td th:text="${ member.dept.depName }" name="depName"></td>
                                                                                    <td th:text="${ member.position.positionName }" name="positionName"></td>
                                                                                    <td th:text="${ member.name }" name="memberName"></td>
                                                                                </tr>
                                                                            	</tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                               <button type="button" id="selectBtn2" class="btn btn-primary">선택</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Modal end -->
                                        <div class="list-group lists" id="result2">
                                        </div>
                                    </div>
                                </div>
                            </div><br><br>

                            <div class="mb-3">
                                <label for="formFileSm" class="form-label">첨부 파일</label>
                                <input class="form-control form-control-sm" id="formFileSm" type="file" name="attach">
                            </div>


                            <br><br>
                            <div class="d-grid col-1 mx-auto">
                            </div>
                            <div class="d-grid col-1 mx-auto">
                                <button type="submit" class="btn btn-primary">상신</button>
                            </div>
                            <div class="d-grid col-1 mx-auto">
                            </div>
                        </div>
                        <!-- 결재자 선택한 리스트 -->
                        <!-- <input type="hidden" id="receiverCount" name="receiverCount" value="0"> -->
                        <div id="appList">
                        </div>
                        
                        <!-- 참조자 선택한 리스트 -->
                        <!-- <input type="hidden" id="refCount" name="refCount" value="0"> -->
                        <div id="refList">
                        </div>
                       	
<!--                          <input type="hidden" name="receiver[0].no" value="7">
                        <input type="hidden" name="receiver[1].no" value="9">
                        <input type="hidden" name="receiver[2].no" value="11">
                        
                        <input type="hidden" name="ref[0].no" value="7"> -->
                    </form>
                </div>
            </section>

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2022 &copy; WorkHub</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="/assets/js/approval.js"></script>
    <script src="/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendors/summernote/summernote-lite.min.js"></script>
	    <script>
        $('#summernote').summernote({
            tabsize: 2,
            height: 120,
        });
        
        $(document).ready(function(){
        	$('#summernote').summernote();
        });
    </script>
	
	<script th:inline="javascript">
		function showDeptMember(elem) {
			$('[id^=appteam]').hide();
			var elemId = 'appteam' + elem.id;
			console.log('#'+elemId);
			$('#'+elemId).attr('style', "display:'';");
		}
		
		function showDeptMember2(elem) {
			$('[id^=refteam]').hide();
			var elemId = 'refteam' + elem.id;
			console.log('#'+elemId);
			$('#'+elemId).attr('style', "display:'';");
		}
		
		function uncheckAll(){
			$('[id^=appteam]').hide();
			$('#appsetting input[type=checkbox]').prop('checked', false);
			
			$('[id^=refteam]').hide();
			$('#refsetting input[type=checkbox]').prop('checked', false);
		}
		
	</script>
    <script src="/assets/js/main.js"></script>
</body>

</html>