@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
	
	
	
	body {
	height: 2000px;
	}
	

    ul {
      list-style-type: none;
    }

    h1 {
      color: #fff;
      font-size: 2.5rem;
      font-weight: bold;
      text-align: center;
      padding: 40px;
    }

    .accordion {
      width: 1410px;
      margin: auto;
      background: #fff;
      border-radius: 4px;
    }

    .dhjji {
        width: 120px;
    }

    .accordion .menu {
      position: relative;
      padding: 15px 1000px 15px 0px;
      color: #4d4d4d;
      font-weight: bold;
      border-bottom: 1px solid #4d4d4d;
      cursor: pointer;
      transition: all 0.4s ease;
    }

    .accordion li:last-child .menu {
      border-bottom: 0;
    }

    .accordion li i {
      position: absolute;
      top: 1.2rem;
      left: 1rem;
      color: #595959;
      transition: all 0.4s ease;
      
    }

    .accordion li i.fa-chevron-down {
      right: 1rem;
      left: auto;
      
    }

    .accordion li.show i.fa-chevron-down {
      transform: rotate(180deg);
    }

    .accordion li.show .menu {
      color: #6caf8d;
    }

    .accordion li.show i {
      color: #6caf8d;
    }

    /* Show fyy */
    /*높이 조정하는 것*/
    .accordion li.show .fyy {
      /* height: auto;를 지정하면 transition이 동작하지 않는다 */
      max-height: 3000px;
    }

    .fyy {
      /* height: auto;를 지정하면 transition이 동작하지 않는다 */
      max-height: 0;
      overflow: hidden;
      font-size: 14px;
      transition: max-height 0.4s ease;
      padding-right: 32px;
    }
    
    

    .fyy li {
      border-bottom: 1px solid #4b4a5e;
    }

    .accordion li:last-child .fyy {
      border-radius: 0 0 4px 4px;
    }

    .accordion li:last-child .fyy li:last-child {
      border-bottom: 0;
    }

    .fyy a {
      display: block;
      text-decoration: none;
      color: #000000;
      padding: 12px;
      padding-left: 4px;
      transition: all 0.25s ease-in-out;
    }

    tr:hover {
      background: #6caf8d;
      color: #fff;
      width: 100%;
    }

    .fyy table {
     
     
      width: 100%;
    }
    
    .huyyy {
     position: relative;
    left: 883px;
    bottom: 200px;
    width: 1400px;
     
     
    }
    
    .show {
   padding-right: 30px;
    }