@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');




.skdsojdcs {
   background-color: #6caf8d  !important;
   border-color: #6caf8d  !important;
}

.skdsojdcs:hover {
   background-color: #85c0a2 !important;
   border-color: #85c0a2 !important;
} 

.rtyh {
   position: relative !important;
   width: 160px !important;
   right: 140px !important;
   bottom: 3px !important;
  
}

.nhsj {
   position: relative !important;
   width: 160px !important;
   left: 72px !important;
   bottom: 30px !important;
}

.gbhdf {
   position: relative  !important;
   width: 160px !important;
   right: 123px !important;
   bottom: 20px !important;
}

.fgsdfsaw {
   position: relative !important;
   bottom: 12px !important;
}

.fsddds {
   position: relative!important;
   bottom: 65px !important;
   left: 250px !important;
}

.ffsf {
   position: relative !important;
   width: 160px !important;
   left: 287px !important;
   bottom: 107px !important;
}

.dsf {
   position: relative !important;
   bottom: 40px !important;
   right: 783px !important;
}

.dfssdf {
   position: relative !important;
   width: 160px !important;
   left: 72px !important;
   bottom: 97px !important;
}

.dsfsv {
   position: relative !important;
   bottom: 30px !important;
   right: 424px !important;
}

.dfzc {
   position: relative !important;
   width: 160px !important;
   left: 72px !important;
   bottom: 86px !important;
}

.dsfdfd {
   position: relative !important;
   bottom: 30px !important;
   right: 780px !important;
}

.ghfg {
   position: relative !important;
   bottom: 60px !important;
   width: 904px !important;
    height: 160px !important;
    resize: none !important;
}

.fkfkgkj {
   position: relative !important;
   bottom: 75px !important;
}

.fkjf {
   position: relative !important;
   bottom: 60px !important;
}

.ghhg {
   position: relative !important;
   right: 30px !important;
   
}

.skdsojdcs {
   background-color: #6caf8d !important;
   border-color: #6caf8d !important;
}

.skdsojdcs:hover {
   background-color: #85c0a2 !important;
   border-color: #85c0a2 !important;
} 

.ghfdds {
	position: relative !important;
    left: 410px !important;
    font-size: 26px !important;
}

.dsad {
	position: relative !important;
   top: 200px !important;
   left : 1200px !important;
   width: 2000px !important;
}

.dfdda {
	position: relative !important;
   right : 320px !important;
}

.fghkljgj {
	position: relative !important;
   left : 424px !important;
}

.fgd {
	position: relative !important;
  
}

.jhgfg {
	position: relative !important;

}

.rtyh {
	position: relative !important;
   right : 120px !important;
   bottom: 10px !important;
}

.qyyy {
	position: relative;
   left : 830px;
   top: 300px;
   width: 2000px;
}

.yyggg {
	position: relative;
   left : 403px;
   
}

.usdf {
	position: relative;
   right : 100px !important;
	width: 200px !important;
}

.qtyj {
	position: relative;
   top : 7px !important;
	
}

.dfksdfju {
	position: relative;
   top : 60px !important;
    right : 395px !important;
	
}

.ffdssrth{
	position: relative;
   top : 3px !important;
    left : 96px !important;
}

.djdshh {
	position: relative !important;
    bottom: 1px !important;
    left: 84px !important;
    width: 758px !important;
    height: 160px !important;
    resize: none !important;
}

.fflkl {
	    position: relative;
    top: 94px !important;
    right: 780px !important;
	
}

.dkdkj {
	position: relative;
    top: 0px !important;
    right: 94px !important;
}



.rounded-pill {
	margin-left: 10px !important;
}

.btn-success {
	color: #ffffff !important;
    background-color: #6caf8d !important;
    border-color: #6caf8d !important;
}

.dfssdfs {
    position: relative !important;
    width: 220px !important;
    right: 182px !important;
    bottom: 90px !important;
}

.rtyhs {
       position: relative !important;
    width: 160px !important;
    right: 83px !important;
    bottom: 90px !important;
  
}

.dsfs {
	position: relative !important;
    left: 6px !important;
    bottom: 81px !important;
}