<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>workWrite</title>
    <!-- fonts -->
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/vendors/iconly/bold.css">
    <link rel="stylesheet" href="/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="shortcut icon" href="/assets/images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/adminyj.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
	<link rel="shortcut icon" th:href="@{/assets/images/images/favicon-workHub.ico}" type="image/x-icon">
</head>
<body>
        
         <div th:include="sidebar/sidebar-admin" th:remove="tag"></div> 

        <!--근무 유형 작성 시작-->
        
        <form class="wwfw kjhg" action="/work/workWrite" method="post">
            <h4 style="color: black;" class="sdssssc">근무 유형 등록</h4>
            <h6 class="fsdf">항목</h6>
            <input type="text" name="workName">
            <br><br>
           
                        <div class="card">
                            <div class="card-header">
                                <h6 class="fsdf dxfgfds">근무시간</h6>
                            </div>
                            <div class="card-body dgyterdert">
                                <div class="form-check ssswwe">
                                    <input class="form-check-input" type="radio" name="workInclude"
                                        id="flexRadioDefault12" value="포함">
                                        <h6 class="fsdf dfgdd">포함</h6>
                                </div>
                                <div class="form-check ssswwe">
                                    <input class="form-check-input" type="radio" name="workInclude"
                                        id="flexRadioDefault32" value="포함안함" checked>
                                        <h6 class="fsdf dfgdd">포함안함</h6>
                                </div>
                            </div>
                        </div>

                        <div class="card gggjj">
                            <div class="card-header">
                                <h6 class="fsdf dxfgfds">사용여부</h6>
                            </div>
                            <div class="card-body dgyterdert">
                                <div class="form-check ssswwe">
                                    <input class="form-check-input" type="radio" name="workUse"
                                        id="flexRadioDefault1" value="사용">
                                        <h6 class="fsdf dfgdd">사용</h6>
                                </div>
                                <div class="form-check ssswwe">
                                    <input class="form-check-input" type="radio" name="workUse"
                                        id="flexRadioDefault2" value="미사용" checked>
                                        <h6 class="fsdf dfgdd">미사용</h6>
                                </div>
                            </div>
                        </div>
                        <div class="sdasdsss pdpdpf">   
    <input type="submit" class="btn btn-success rounded-pill" value="저장"></button>
    <a href="#" class="btn btn-light rounded-pill">삭제</a>
    <a onclick="location.href='/work/list'" class="btn btn-light rounded-pill">취소</a></div>
    </form>
        
        <!--근근무 유형 작성 끝-->
    
    
    <script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <script src="assets/vendors/apexcharts/apexcharts.js"></script>
    <script src="assets/js/pages/dashboard.js"></script>

    <script src="assets/js/main.js"></script>
</body>
</html>