<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>workWrite</title>
    <!-- fonts -->
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/vendors/iconly/bold.css">
    <link rel="stylesheet" href="/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="shortcut icon" href="/assets/images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/adminyj.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
	<link rel="shortcut icon" th:href="@{/assets/images/images/favicon-workHub.ico}" type="image/x-icon">
<script>
	const successMessage = '[[${successMessage}]]';
	
	if(successMessage) {
		alert(successMessage);
	}
</script>
</head>
<body>
<body>

        <div th:include="sidebar/sidebar-admin" th:remove="tag"></div> 

        <!--모든 근무 그룹 시작-->
        <!-- work.workUse는 근태관리에서 사용할지 안할지 물어보는 것이고 workStatus는 삭제여부를 물어보는 것이다. -->
        <h3 class="fdawr sdfgfsfdwq">근무 유형</h3>
        <section class="section olggogo sdcxz">
            <div class="card">
                <input type="button" value="신규 추가" class="gttt" onclick="location.href='/work/workWrite'">
                <div class="card-body">
                    <table class="table table-striped" id="table1">
                        <thead>
                            <tr>
                                <th class="erre">코드</th>
                                <th class="erff">항목</th>
                                <th class="sds">근무시간</th>
                                <th class="deaf">사용여부</th>
                                <th class="deaf">작성자</th>
                                <th class="dfadsf">사용여부</th>
                                <th class="dfadsf">수정</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="work : ${ workList }">
                                <td th:text="${ work.workNo }"></td>
                                <td th:text="${ work.workName }"></td>
                                <td th:text="${ work.workInclude }"></td>
                                <td th:text="${ work.workUse }"></td>
                                <td th:text="${ work.name }"></td>
                                <td >
                                    <span th:text="${ work.workUse }" class="badge bg-success">사용</span>
                                </td>
                                 <td >                               
                                    <span class="badge bg-success" style="cursor:pointer;" th:onclick="|javascript:workModify('${ work.workNo }')|">수정</span>
                                </td>
                            </tr>
         
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <!--모든 근무 그룹 끝-->
    
    <!-- 수정하기 버튼을 눌렀을 때 게시글 번호 넘기는 것 -->
    <script type="text/javascript">
    function workModify(workNo) { 
    	// 근무그룹  번호 확인용
    	//alert(workNo); 
    	var workNo = workNo; 
        location.href='/work/workModify?workNo='+workNo; }
    </script>   
    
    <script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <script src="assets/vendors/apexcharts/apexcharts.js"></script>
    <script src="assets/js/pages/dashboard.js"></script>

    <script src="assets/js/main.js"></script>
</body>
</html>