<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- fonts -->
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    

    <!-- bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap-ar.css">

    <link rel="stylesheet" href="/assets/vendors/iconly/bold.css">

    <link rel="stylesheet" href="/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/app-ar.css">
   	<link rel="shortcut icon" th:href="@{/assets/images/images/favicon-workHub.ico}" type="image/x-icon">
</head>
<body>
	<div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="index.html"><img src="/assets/images/images/logo-workhub-edit.png" alt="Logo"></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">Menu</li>

                        <li class="sidebar-item">
                            <a href="index.html" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>홈</span>
                            </a>
                        </li>
                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-stack"></i>
                                <span>전자결재</span>
                            </a>
                            <ul class="submenu">
                                <li class="submenu-item">
                                    <a onclick="location.href='/approval/regist'" style="cursor:pointer;">결재 문서 생성</a>
                                </li>
                                <li class="submenu-item ">
                                    <a onclick="location.href='/approval/receptionList'" style="cursor:pointer;">개인 결재함</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="extra-component-sweetalert.html">부서 결재함</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-collection-fill"></i>
                                <span>근태관리</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                     <a th:href="@{/employ/employmentSelect}">내 근태 현황</a>
                                </li>
                                <li class="submenu-item ">
                                    <a th:href="@{/rest/restSelect}">내 연차 내역</a>
                                </li>

                            </ul>
                        </li>
                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-alarm-fill"></i>
                                <span>예약</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a th:href="@{/reserve/meeting/list}">회의실 예약</a>
                                </li>
                                <li class="submenu-item ">
                                    <a th:href="@{/reserve/car/list}">차량 예약</a>
                                </li>
                                <li class="submenu-item ">
                                    <a th:href="@{/reserve/mylist}">내 예약 조회</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a th:href="@{/report/intro}" class='sidebar-link'>
                                <i class="bi bi-file-earmark-medical-fill"></i>
                                <span>보고서</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class='sidebar-link' onclick="location.href='/calendar/list'" style="cursor:pointer;">
                                <i class="bi bi-calendar-fill"></i>
                                <span>캘린더</span>
                            </a>
                        </li>
                        
                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-pen-fill"></i>
                                <span>게시판</span>
                            </a>
                            <ul class="submenu">
                            <li class="submenu-item ">
                               <a th:href="@{/post/write}">글쓰기</a>
                            </li>
                            <li class="submenu-item ">
                                    <a th:href="@{/post/notice}">공지사항</a>
                            </li>
                            <li class="submenu-item ">
                                    <a th:href="@{/post/list}">자유게시판</a>
                            </li>
                            </ul>
                        <li class="sidebar-item  has-sub active">
                            <a href="table.html" class='sidebar-link'>
                                <i class="bi bi-bar-chart-fill"></i>
                                <span>설문</span>
                            </a>
                            <ul class="submenu">
                                <li class="submenu-item ">
                                    <a th:href="@{/survey/write}">설문 작성</a>
                                </li>
                                <li class="submenu-item ">
                                    <a th:href="@{/survey/home}">설문 홈</a>
                                </li>
                                <li class="submenu-item ">
                                    <a th:href="@{/survey/list_ing}">진행 중인 설문</a>
                                </li>
                                <li class="submenu-item ">
                                    <a th:href="@{/survey/list_end}">마감된 설문</a>
                                </li>
                                <li class="submenu-item ">
                                    <a th:href="@{/survey/list_my}">내가 만든 설문</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item  ">
                            <a class='sidebar-link' onclick="location.href='/message/inboxList'" style="cursor:pointer;">
                                <i class="bi bi-chat-dots-fill"></i>
                                <span>쪽지</span>
                            </a>
                        </li>
                        <br><br><br><br><br><br><br><br>

                        <li class="sidebar-item ">
                            <a th:href="@{/myPage/myPage}" class='sidebar-link'>
                                <i class="bi bi-person-circle"></i>
                                <span>내 정보 관리</span>
                            </a>
                        </li>
                        <li class="sidebar-item  ">
                            <a th:href="@{/}" class='sidebar-link'>
                                <img src="/assets/images/images/logout.png" alt="logout">
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
    </div>
    
    <script src="/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>

    <script src="/assets/js/main.js"></script>
</body>
</html>
