<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.work.workhub.member.myPage.model.dao.MyPageMapper">
	<resultMap id="loginMemberResultMap" type="com.work.workhub.member.member.dto.MemberDTO">
		<id property="no" column="NO"/>
		<result property="id" column="ID"/>
		<result property="pwd" column="PWD"/>
		<result property="depNo" column="DEP_NO"/>
		<result property="positionNo" column="POSITION_NO"/>
		<result property="positionName" column="POSITION_NAME"/>
		<result property="groupNo" column="GROUP_NO"/>
		<result property="name" column="NAME"/>
		<result property="email" column="EMAIL"/>
		<result property="phone" column="PHONE"/>
		<result property="status" column="STATUS"/>
		<result property="depName" column="DEP_NAME"/>
		
		<collection property="memberRoleList" resultMap="memberRoleResultMap"/>
	</resultMap>
	
	<resultMap id="memberRoleResultMap" type="com.work.workhub.member.member.dto.MemberRoleDTO">
		<id property="memberNo" column="REF_NO"/>
		<id property="authNo" column="REF_AUTH_NO"/>
		
		<association property="authority" resultMap="authorityResultMap"/>
	</resultMap>
	
	<resultMap id="authorityResultMap" type="com.work.workhub.member.member.dto.AuthorityDTO">
		<id property="authNo" column="REF_AUTH_NO2"/>
		<result property="authName" column="AUTH_NAME"/>
	</resultMap>
	
	<!-- 사원 등록(/signUp) -->
	<select id="findMemberById" resultMap="loginMemberResultMap">
		SELECT
			   A.NO
			 , A.ID
			 , A.PWD
			 , A.DEP_NO
			 , A.POSITION_NO
			 , A.GROUP_NO
			 , A.NAME
			 , A.GENDER
			 , A.EMAIL
			 , A.PHONE
			 , A.STATUS
			 , B.NO REF_NO
			 , B.AUTH_NO REF_AUTH_NO
			 , C.AUTH_NO REF_AUTH_NO2
			 , C.AUTH_NAME
			 , D.DEP_NAME
			 , P.POSITION_NAME
		 FROM TBL_MEMBER A
		 LEFT JOIN MEMBER_ROLE B ON (A.NO = B.NO)
		 LEFT JOIN AUTHORITY C ON (B.AUTH_NO = C.AUTH_NO)
		 LEFT JOIN DEPARTMENT D ON (A.DEP_NO = D.DEP_NO)
		 LEFT JOIN TBL_POSITION P ON (P.POSITION_NO = A.POSITION_NO)
		WHERE A.ID = #{ username }
	</select>
	
	<!-- 회원정보 수정 -->
 	<update id="editInfo" parameterType="com.work.workhub.member.member.dto.MemberDTO">
		update TBL_MEMBER set email = #{email}, phone = #{phone} where id = #{id}
	</update>
	
	<update id="changePwd" parameterType="com.work.workhub.member.member.dto.MemberDTO">
		update TBL_MEMBER set pwd = #{pwd} where id = #{id}
	</update>
	
</mapper>